<a href="https://colab.research.google.com/github/Aidan1006/Assessment_1/blob/main/Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data1 = {
    "mark1": [50,68,90,56,100,98,78,60],
    "mark2": [12,0,45,30,2,50,6,17],
    "mark3": [24,56,78,90,99,1,45,56]
}
df = pd.DataFrame(data1)

print(df)

   mark1  mark2  mark3
0     50     12     24
1     68      0     56
2     90     45     78
3     56     30     90
4    100      2     99
5     98     50      1
6     78      6     45
7     60     17     56

In [3]:
#This is a data frame consist of dataset of 3 marks for 3 test in class CS2496A1. From the dataset below, we want to find the sum of this 3 marks for each student to calculate the average of the marks the student get for this assessment given to detect whether their average is more than 50 marks. After that, they will calculate the percentage receive by the student to get marks for their assessment percentage by 30%.

df['sum'] = df['mark1'] + df['mark2'] + df['mark3']

#2nd calculation
df['average'] = df['sum'] / 3
df['avg_50'] = df['average'] > 50

#3rd calculation
df['markAsses'] = (df['sum']/300) * 30

print(df)

   mark1  mark2  mark3  sum    average  avg_50  markAsses
0     50     12     24   86  28.666667   False        8.6
1     68      0     56  124  41.333333   False       12.4
2     90     45     78  213  71.000000    True       21.3
3     56     30     90  176  58.666667    True       17.6
4    100      2     99  201  67.000000    True       20.1
5     98     50      1  149  49.666667   False       14.9
6     78      6     45  129  43.000000   False       12.9
7     60     17     56  133  44.333333   False       13.3

In [13]:
import pandas as pd

shoes = pd.read_csv(shoes_dataset.xlsx)

NameError: ignored